{% extends 'base.html' %}

{% block content %}
<ul>
    {% for experience in experiences %}
    <li>
        <div>
            <div>
                <a href="{% url 'experience-details' experience.id %}"><b>{{ experience.title }} </b> {{ experience.company }}, {{ experience.start_date | date:"M Y" }} - {{ experience.end_date |date:"M Y" }}</a><br>
                {{ experience.description }}
            </div>
            <div>
                <a class="btn btn-success btn-sm" href="{% url 'experience-update' experience.id %}">Update Experience</a>
                <a class="btn btn-danger btn-sm" href="{% url 'experience-delete' experience.id %}">Delete experience</a>
            </div>
        </div>
        <br>
    </li>
    {% endfor %}
</ul>

<a class="btn btn-primary btn-sm" href="{% url 'experience-add' %}">Add new experience</a>

{% endblock %}